<footer class="pt-4 my-md-5 pt-md-5 border-top container">
   <div class="row text-center">
      <div class="col-12 col-md-4">
         <h1>Better-bot</h1>
         <ul class="list-unstyled text-small">
            <li class="mb-1 link-secondary text-decoration-none"><small>By Jorge Montejo</small></li>
         </ul>
      </div>
      <div class="col-12 col-md-4">
         <h5>Support</h5>
         <ul class="list-unstyled text-small">
            <li class="mb-1 link-secondary text-decoration-none">support@better-bot.com</li>
         </ul>
      </div>
      <div class="col-12 col-md-4">
         <h5>Resources</h5>
         <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" target="_blank" href="https://github.com/MontejoJorge">Github</a></li>
         </ul>
      </div>
   </div>
</footer>