<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("templates/head", {title: "Dashboard" }) %>
    </head>
    <body>
        <%- include("templates/bootstrap") %>
        <%- include("templates/navbar") %>
        
        <div class="container-fluid bg-light pb-5">
            <div class="container-sm rounded pt-3 pb-1 text-center" id="title">
                <h1 class="display-4">Soming soon!</h1>
                <p class="lead">the dashboard is currently under development.</p>
                <p class="lead">In the meantime, you can send suggestions!</p>
                <a class="btn btn-lg btn-primary" href="/dashboard/suggestion">Send suggestions</a>
            </div>
        </div>

    </body>
</html>