<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("templates/head", {title: "Home"}) %>
</head>

<body>
    <%- include("templates/bootstrap") %>
    <%- include("templates/navbar") %>
</body>

</html>